@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@400&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}


/* ------------CSS INDEX----------- 
1. NAVIGATION BAR
2.
*/
.main {
  /* width: 100%; */
  /* min-height: 90vh; */
  padding-bottom: 100px;
  /* background-color: white; */

  background-image: url(./python-background-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: relative;

}

.main::before {
  /* height: 90vh; */
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(270deg, rgba(91, 90, 90, 0.1) -2.59%, hsla(0, 4%, 5%, .8) 49.82%, rgba(0, 0, 0, .95) 89.45%);
}



/*=========================================
              NAVIGATION BAR 
 ==========================================*/



.header {
  /* overflow: hidden; */
  background-color: #01265B;
  margin-top: 4vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.nav {
  /* background-color: aqua; */
  overflow: auto;
  /* margin: 2rem; */
  padding-right: 50px;
  display: flex;
}

.nav li {
  list-style: none;
  padding: 1vw;
}

.nav>li>a {
  font-weight: 500;
  text-align: center;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  padding-right: 1vw;
  /* border-right: 1px solid #000; */


  transition: font-size 0.3s;
}

/* .nav_super {
  border:none !important;
} */

.nav>li>a:hover,
.sub-menu ul li a {
  /* font-size: 18px; */
  color: #13c7e6;
}

.sub_menu {

  display: none;
  /* transition: display 3s; */
}


.nav_project:hover .sub_menu {
  border-radius: 10px;
  z-index: 100;
  display: block;
  position: absolute;
  background-color: #01265B;
  margin-top: 15px;
  margin-left: -15px;

}

.sub_menu ul li a {
  background: transparent;
  padding: 10px;
  /* border-bottom: 1px solid #fff; */
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: #fff;

}

.sub_menu ul li:last-child a {
  border-bottom: none;
}




.logo {
  position: relative;
  margin: .5vw;
  margin-left: 2rem;
}

.mobile_nav_btn {
  margin-right: 5vw;
  display: none;
  background: transparent;
  cursor: pointer;
}

.mobile_nav_icon {
  color: #fff;
  width: 5vw;
  height: 5vw;
}

.mobile_nav_icon[name="close-outline"] {
  display: none;
}

/* =======================================

          RESPONSIVE NAV BAR CODE

========================================= */
@media (max-width:580px) {
  .logo {
    width: 24vw;
    margin: 1vw;
    margin-left: 5vw;
  }
}

@media(max-width:780px) {
  .mobile_nav_btn {
    display: block;
    z-index: 5;
  }

  .nav {
    /* display: none; */
    z-index: 3;
    width: 100vw;
    /* height: 50vh; */
    padding: 10vh;
    background-color: #01265B;
    position: absolute;

    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: cente;

    transform: translateX(100%);
    transition: all 0.5s linear;

    opacity: 1;
    visibility: hidden;
    pointer-events: none;

  }

  .nav li a {
    border: none;

  }

  li.nav {
    position: relative;
  }

  .active .nav {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .active .mobile_nav_btn .mobile_nav_icon[name="close-outline"] {
    display: block;
  }

  .active .mobile_nav_btn .mobile_nav_icon[name="menu-outline"] {
    display: none;
  }

  .sub_menu {
    position: absolute;
    top: 12vh;
    left: 65vw;
    border: 1px solid #fff;
  }

  .sub_menu ul li a {
    font-size: 3vw;
  }
}


/* ==================

      Front PAGE 
  
  ====================== */
.front {
  width: 60vw;
  color: #fff;
  position: relative;
  padding: 10vh 0 12vh 10vw;
}

.front_content h1 {
  font-size: 4rem;
}

.front_content p {
  padding-top: 2vh;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.58;
  letter-spacing: .1vw;

}

.front_content a button {
  margin-top: 2vh;
  border: none;
  color: #fff;
  padding: .8rem 1.6rem;
  border-radius: 60px;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #01265B;
}

.front_content button:hover {
  background-color: RGBA(19, 199, 230, .4);
  cursor: pointer;
}

.front-flex {
  position: relative;

}

.front_flex {
  border-radius: 10px;
  background-color: #fff;
  width: 80%;
  /* height: 150px; */
  position: absolute;
  top: -10vh;
  left: 10vw;
  box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.08);

  display: flex;
  justify-content: space-evenly;
}

.front-card {
  width:26%;
  padding: 1vw;
  text-align:center;
}

.front-card h3 {
  color: #01265B;
  font-weight: 600;
  font-size: 2.2rem;
}

.front-card p {
  padding: .6vh 0 0 .5vw;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: .1vw;
  line-height: 1.58;
}

@media (max-width:790px) {
  .front{
    padding-left:5vw;
  }
  .front_content h1 {
    font-size: 2.2rem;
  }
  .front_content p {
    font-size: 0.8rem;
  }
  .front_content {
    width: 90vw;
  }

  .front-card h3 {
    font-size: 1.1rem;
  }

  .front-card p {
    font-size: .7rem;
  }

}




/*======================================



======================================*/
.first {
  width: 80%;
  margin: 0 auto;
}

.first h1 {
  font-weight: 600;
  padding: 150px 0 3vh 0;
  font-size: 2.5rem;
  color: #01265B;
}

.first p {
  /* width: 80%;
  margin: 0 auto; */

  /* padding: 0 0 3vh 12vw; */
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1vw;
}

.first ul {
  padding: 2vh 0 2vh 2vw;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: .1vw;
  line-height: 1.58;
}

.first ul li span {
  font-weight: 700;

}



/* =====================================



==========================================*/

.second {
  margin: 10vh 0;
  background-color: #01265B;
  padding: 6vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second h1 {
  font-weight: 600;
  width: 80%;
  padding-bottom: 2vh;
  /* background-color: #13c7e6; */
  color: #fff;
  font-size: 2.5rem;
}

.second p {
  color: #fff;
  width: 80%;
  padding-bottom: 6vh;
  font-weight: 600;
  letter-spacing: .1vw;
  font-size: 1rem;
}

.course-content {
  position: relative;
  width: 80%;
  /* margin: 0 auto; */

}

.course-content ul {
  list-style: none;
}

/* nav ul li {
  
} */
.course-content ul li a {
  border-radius: 10px;
  /* border: 1px solid black; */
  display: block;
  background: #fff;
  padding: 1.5rem 2rem;
  margin-bottom: 1vh;
  color: #01265B;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
 
  /* transition: 0.2s linear */
}

.course-content ul li a span {
  font-weight: 400;
}

/* .course-content ul li a:hover {
	background: #13c7e6;
	color: #fff;
} */
.course-content ul li a .fa {
  width: 16px;
  text-align: center;
  margin-right: 5px;
  float: right;
}

/* .course-content ul ul {
	background-color:#01265B;
} */
.course-content ul li ul li a {
  background: #fff;
  color: black;
  /* border-left: 4px solid transparent; */
  padding: 10px 20px;
  cursor: auto;
  font-size: 1.2rem;
  font-weight: 400;
  transition: all 2s ;
  border-radius: 0;
  margin: 0;
}

.course-content ul li ul li:last-child a {
  margin-bottom: 1vh;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 1px solid black;
}

.course-content ul li ul li:nth-child(1) a {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 1px solid black;
}
@media(max-width:790px){
  .second h1 , .second p, .course-content {
    width:90%;
  }
  .second h1 {
    font-size:2rem;
  }
  .second p {
    font-size: .8rem;
  }
  .course-content ul li a {
    padding: 2vw 2.5vw;
    font-size: .8rem;
  }
  .course-content ul li ul li a {
    font-size: .8rem;
    padding: 5px 10px;
  }
}


/* =========

requirments 

=============*/
.third {
  width:80%;
  margin:0 auto;
}
.third h1 {
  font-weight: 600;
  padding-bottom:2vh;
  /* padding: 0 0 2vh 10vw; */
  /* background-color: #13c7e6; */
  color: #01265B;
  font-size: 2.5rem;
}

.third ul {
  padding: 0 0 3vh 4vw;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1vw;
}
.four {
  width:80%;
  margin:0 auto;
}
.four h1 {
  font-weight: 600;
  padding: 2vh 0;
  /* background-color: #13c7e6; */
  color: #01265B;
  font-size: 2.5rem;
}

.four p {
  padding-bottom:1vh;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.58;
  letter-spacing: 0.1vw;
}

.four ul {
  padding: 0 0 8vh 4vw;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1vw;
}

@media (max-width:790px) {
  
  .first , .third , .four {
    width:90%;
  }
  
  .first h1 , .third h1 , .four h1 {
    font-size: 2rem;
  }
  .first p , .first ul , .third ul , .four p , .four ul{
    font-size:.8rem;
  }

  

}










/*  ================================

            Footer
  
  ================================   */




.footer {
  background-color: #01265B;
  width: 100%;
  overflow: hidden;
  /* height: 400px; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;


}

.ai,
.contact,
.project {
  width: 15rem;
  padding: 6% 1%;
  font-weight: 400;
}

.ai p {
  color: #fff;
  font-weight: 400;
  font-size: .8rem;
  padding: 12%;
  text-align: left;
}

.footer_follow h3 {
  font-size: 1.2rem;
  margin: .5rem 0;
}

.follow_links {
  display: flex;
  margin-left: .1rem;
  gap: 1rem;
  /* justify-content: space-between; */
}

/* .quick {
    padding-left: 2%;
  
  }
  
  
  .quick ul {
    color: #fff;
    list-style-type: none;
    padding-top: 4%;
  }
  
  .quick ul li a {
    text-decoration: none;
    color: #fff;
    font-size: .8rem;
  
  } */

.footer h3 {
  font-size: 1.4rem;
  color: #13c7e6;
  font-weight: 500;
}


.project_flex {
  padding-top: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* even space not happening? */
}

.project_flexitem {
  display: flex;
  align-items: center;
  padding-top: 4%;

}

.project_flexitem h5 {
  color: #fff;
  font-weight: 400;
  font-size: .8rem;
  padding-left: 4%;
}

.project_flexitem img {
  /* border-radius: 10%; */
  width: 25%;
}

.contact_flex {
  display: flex;
  flex-direction: column;
  padding-top: 4%;
}

.contact_item {
  display: flex;
  padding: .6rem 0;

}

.contact_item i {
  margin-right: 1rem;
}

.contact_item h5 {

  font-weight: 400;
  font-size: .8rem;
  color: #fff;
}